---
import BaseLayout from '../BaseLayout.astro'
import {getForsideGallerier} from '../artwork/forside.client'
import GalleryCard from "../gallery/GalleryCard.astro";
import {I18nKey} from "../i18n/i18n.string.dto";
import { useTranslation } from '../i18n/utils'
import { getSeoAsync } from '../seo/seo.client'

export function getStaticPaths() {
  return [{ params: { lang: 'no' } }, { params: { lang: 'en' } }]
}



const { keywords, description } = await getSeoAsync()
const { lang } = Astro.params
const galleries = await getForsideGallerier()
console.log({ galleries})
const t = useTranslation(lang as I18nKey)
const title = t('title.home')
---

<BaseLayout title={title} keywords={keywords} description={description}>
	<h1> Gallerier </h1>

  <section id="gallery-wrapper">
    {galleries.map((artwork) => <GalleryCard galleryName={artwork.galleryName[lang]} />)}
  </section>
</BaseLayout>
