---
import BaseLayout from '../BaseLayout.astro'
import { getForsideGallerier } from '../artwork/forside.client'
import ContactDetails from '../ContactDetails.astro'
import GalleryCard from '../gallery/GalleryCard.astro'
import type { I18nKey } from '../i18n/i18n.string.dto'
import { useTranslation } from '../i18n/utils'
import { toDimmentionsAndUrls } from '../image/image.util'
import { getSeoAsync } from '../seo/seo.client'

const { keywords, description } = await getSeoAsync();
const { lang } = Astro.params
const galleries = await getForsideGallerier()

const galleriesVms = galleries.map((g) => ({
  name: g.galleryName[lang as I18nKey] ?? '',
  urls: toDimmentionsAndUrls(g.topImage?.photo?.image),
  slug: `/${lang}/galleri/${g.slug}`,
  ctaText: lang === 'no' ? 'Gå til galleri' : 'Go to gallery',
}))

const t = useTranslation(lang as I18nKey)
const title = t('title.home')
---

<BaseLayout title={title} keywords={keywords} description={description}>
  <h1 class="screen-reader-only">{ lang === 'no' ? 'Gallerier' : 'Galleries'}</h1>

  <nav id="gallery-links-wrapper">
    {
      galleriesVms.map((g) => (
        <GalleryCard
          galleryName={g.name}
          urls={g.urls.urls}
          slug={g.slug}
          ctaText={g.ctaText}
        />
      ))
    }
  </nav>
  <ContactDetails />
</BaseLayout>
