---
interface Props {
  title: string
  alt: string
  urls: string[]
  dimmenstions: string
  material: string
  year: string
}
const { urls, alt, title, year, dimmenstions, material } = Astro.props
---

<div class="artwork-wrapper">
  <figure>
    <picture>
      {urls.map(url => (
        <source srcset={url}></source>
      ))}
      <img src={urls[urls.length - 1]} alt={alt} title={title} decoding="async" />
    </picture>
    <figcaption>
      <div class="title-year">
        {title.trim()}{year ? ` ${year}` : ''}
      </div>
      <div class="dimmension-material">
        {material}
        {dimmenstions}
      </div>
    </figcaption>
  </figure>
</div>

<style>
  .artwork-wrapper{
    display: flex;
    flex-direction: column;
    gap:1.3rem
  }

  figure {
      margin: 0;
  }

  img {
    max-width: 100%;
    max-height: 60rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px 0,rgba(150, 150, 150, 0.05) 0 8px 24px;
    border-radius: 2px;
  }

  .title-year,
  .dimmension-material {
    font-size: 1.4rem;
    font-weight: 300;
  }

  .title-year {
    padding-inline-start: 0.2rem;
    font-style: italic;
  }

  .dimmension-material {
    padding-inline-start: 0.3rem;
  }

  @media screen and (min-width: 800px) {
    img {
      max-height: calc(100vh - 20rem);
      min-height: 33rem;
    }
  }
</style>
