---
interface Props {
  title: string
  alt: string
  url: string
  dimmenstions: string
  material: string
  year: string
}
const { url, alt, title, year, dimmenstions, material } = Astro.props
---

<!--TODO: Picture element || is it cloudflare?-->
<div class="artwork-wrapper">
  <img src={url} alt={alt} title={title} decoding="async" />
  <div>
    <div class="title-year">
      {title.trim()}{year ? ` ${year}` : ''}
    </div>
    <div class="dimmension-material">
      {material}
      {dimmenstions}
    </div>
  </div>
</div>

<style>
  .artwork-wrapper{
    display: flex;
    flex-direction: column;
    gap:1.3rem
  }

  img {
    max-width: 100%;
    max-height: 60rem;
  }

  .title-year,
  .dimmension-material {
    font-size: 1.4rem;
    font-weight: 300;
  }

  .title-year {
    padding-inline-start: 0.2rem;
    font-style: italic;
  }

  .dimmension-material {
    padding-inline-start: 0.3rem;
  }

  @media screen and (min-width: 800px) {
    img {
      max-height: calc(100vh - 20rem);
      min-height: 33rem;
    }
  }
</style>
