---
import {mapArtworkDtoToVm} from "../artwork/artwork.util";
import BaseLayout from '../BaseLayout.astro'
import Artwork from '../artwork/Artwork.astro'
import {I18nKey} from "../i18n/i18n.string.dto";
import { getSeoAsync } from '../seo/seo.client'
import {getGalleryBySlug} from "./gallery.client";

const { lang, slug } = Astro.params

const artworkDtos = await getGalleryBySlug(slug)
const { keywords, description } = await getSeoAsync()
const title = artworkDtos.galleryName[lang]
console.log(artworkDtos.galleryImages[0].photo)
const artworks = artworkDtos.galleryImages.map((artwork) =>
	mapArtworkDtoToVm(artwork, lang as I18nKey),
)

---
<BaseLayout title={title} keywords={keywords} description={description}>
		<h1>{title}</h1>
    <section id="gallery-wrapper">
			{artworks.map((artwork) => <Artwork artwork={artwork} />)}
    </section>
</BaseLayout>

<style>
		h1 {
				text-align: center;
				font-size: 3rem;
				margin-bottom: 3rem;
		}
</style>
