---
import type { ArtworkVm } from './artwork.vm'
interface Props {
  artwork: ArtworkVm
}
const { urls, alt, title, year, dimensions, material, aspectRatio } =
  Astro.props.artwork

const ratio = `${aspectRatio.width} / ${aspectRatio.height}`
---

<figure>
  <picture>
    {urls.map((url) => <source srcset={url} />)}
    <img
      class={aspectRatio.orientation}
      src={urls[urls.length - 1]}
      alt={alt}
      title={title}
      loading="lazy"
      decoding="async"
    />
  </picture>
  <figcaption>
    <div class="title-year">
      {title.trim()}{year ? ` ${year}` : ''}
    </div>
    <div class="dimmension-material">
      {material}
      {dimensions}
    </div>
  </figcaption>
</figure>

<style define:vars={{ ratio }}>
  figure {
    margin: 0;
    display: flex;
    flex-direction: column;
    row-gap: 0.4rem;
  }

  img {
    aspect-ratio: var(--ratio);
    box-shadow: var(--img-box-shaddow);
    border-radius: var(--img-border-radius);
    transition: height 100ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  img.portrait {
    height: 500px;
    width: auto;
  }

  img.landscape {
    width: 600px;
    max-width: 100%;
    height: auto;
  }

  @media screen and (min-width: 800px) {
    img.portrait {
      height: 600px;
    }
  }

  @media screen and (max-width: 539px) {
    img.portrait {
      max-width: 100%;
      height: auto;
    }
  }

  .title-year,
  .dimmension-material {
    font-size: 1.4rem;
    font-weight: 300;
  }

  .title-year {
    padding-inline-start: 0.2rem;
    font-style: italic;
  }

  .dimmension-material {
    padding-inline-start: 0.3rem;
  }
</style>
